<div>
  <app-tablechart chartType="line" [query]="ChartQuery"></app-tablechart>
</div>
<!-- <div *ngIf="(dashboardItems | async).length === 0" class="no-items">
  <h1>There are no charts on this dashboard</h1>

  <a routerLink="/explore" mat-button mat-raised-button color="primary"
    >Add Chart</a
  >
</div>

<div
  *ngIf="(dashboardItems | async).length > 0"
  style="min-height: 100%; width: 100%;"
>
  <gridster [options]="options" style="background-color: #dadada;">
    <gridster-item
      *ngFor="let item of dashboardItems | async"
      [item]="item.plain.layout"
    >
      <query-renderer
        [cubeQuery]="item.cubeQuery"
        [chartType]="item.chartType"
        [pivotConfig]="item.pivotConfig"
      >
        <div style="margin-right: 12px;">
          <button
            mat-button
            mat-icon-button
            mat-raised-button
            [matMenuTriggerFor]="menu"
            color="primary"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editItem(item.id, item.plain)">
              Edit
            </button>
            <button mat-menu-item (click)="deleteItem(item.id)">Delete</button>
            <button mat-menu-item (change)="change()">
              Filter
            </button>
            <filter>
              
            </filter>
            <input mat-menu-item class="form-control mr-sm-2" type="search" placeholder="Search by monthyear" aria-label="Search"
              name="monthyear"  [(ngModel)] = monthyear (ngModelChange) = "filterItem(item.id, item.plain)">
            <button mat-menu-item class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) = "filterItem(item.id, item.plain)">Search</button>
        
          </mat-menu>
        </div>
      </query-renderer>
    </gridster-item>
  </gridster>
</div> -->
